<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap" rel="stylesheet">
</body>
<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevaedu" *ngIf="isLogged" >
            Agregar Educacion
        </button>
    </div>

    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Educacion of educacion">
                    <td><h2>{{Educacion.nombreE}}</h2></td>
                    <td><h4>{{Educacion.descripcionE}}</h4></td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil-fill"></i>EDITAR
                        </button>
                    </td>
                        
                        
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(Educacion.id)">
                            <i class="bi bi-trash-fill"></i> BORRAR
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>
