<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudio 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos harum quia commodi placeat, perferendis minus consectetur pariatur delectus, deserunt corrupti odit quibusdam laborum reprehenderit fugit nam! Repellendus aliquid autem velit!</p>
        </ul>
    </div>
</div>
