<div>
    <a href="https://www.instagram.com/lucashredia_/"><img src="../../../assets/instagram.png" id="instagram" target="_blank"></a>
    <a href="https://www.linkedin.com/in/lucas-heredia-26a050213/"><img src="../../../assets/linkedin.png" id="linkedin" target="_blank"></a>
    <a href="https://twitter.com/lucashredia"><img src="../../../assets/twitter.png" id="twitter" target="_blank"></a>
    <a href="https://github.com/lucasheredia1617"><img src="../../../assets/github.png" id="github" target="_blank"></a>
    <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
    <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
</div>

