<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/IMG-20211105-WA0110.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est recusandae quam, unde, ipsam omnis vero corporis ut harum autem, quis numquam praesentium beatae minus dignissimos architecto cupiditate amet maiores laboriosam?</p>
        </span>
    </div>
</div>
