<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
</body>

<div>
    <button type="button" class="btn btn-dark" routerLink="/editacercade/2" *ngIf="isLogged" >
        Editar persona
    </button>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="{{persona.img}}" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3><p id="nombre">{{persona.nombre}} {{persona.apellido}}</p></h3>
        <h4><p>Full Stack Developer Junior</p></h4>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 descripcion">
        <span>
            <h1>Acerca de mi</h1>
            <h4><p>{{persona.descripcion}}</p></h4>
        </span>
    </div>
</div>
