<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
</body>

<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto de perfil 1.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3><p id="nombre">{{persona.nombre}} {{persona.apellido}}</p></h3>
        <h4><p>Full Stack Developer Junior</p></h4>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <h4><p>Holaa, mi nombre es Lucas Heredia, tengo 20 años y soy de la provincia de Córdoba, Argentina. Me gusta mucho estudiar, quiero mejorar mi inglés para hablarlo fluidamente,ya que tengo un nivel intermedio.Por ahora me gusta mas el Frontend que el Backend y este es mi primer portfolio donde voy a compartir mis avances en el mundo de la tecnología y la programación. </p></h4>
        </span>
    </div>
</div>
