.row{
    padding:30px;
}

div{
    background-color: #797979;
    text-align: center;
}

h4{
    font-family: 'Space Mono', monospace;
}

h1{
    font-family: 'Silkscreen', cursive;
}
/*estilo de la foto de perfil*/
@media (min-width: 576px){
    #fotodeperfil{
        border-radius: 35%;
        box-shadow: 3px 3px 3px grey;
    }

    .descripcion{
        display:flex;
        justify-content:center;
        align-items:center;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 630px;
    }
}

/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
}