<body>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
</body>
<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="75"
        [radius]="100"
        [title]="'HTML'"
        [titleColor]="'#0F0F0F'"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0F0F0F'"
        [innerStrokeColor]="'#3C3C3C'"
        [animation]="true"
        [animationDuration]="600"
  ></circle-progress>  
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="50"
        [radius]="100"
        [title]="'CSS'"
        [titleColor]="'#0F0F0F'"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0F0F0F'"
        [innerStrokeColor]="'#3C3C3C'"
        [animation]="true"
        [animationDuration]="600"
  ></circle-progress>  
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [title]="'JAVASCRIPT'"
        [titleColor]="'#0F0F0F'"
        [showSubtitle]="false"
        [titleFontSize]="'25px'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0F0F0F'"
        [innerStrokeColor]="'#3C3C3C'"
        [animation]="true"
        [animationDuration]="600"
  ></circle-progress>  
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="65"
        [radius]="100"
        [title]="'INGLÉS'"
        [titleColor]="'#0F0F0F'"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0F0F0F'"
        [innerStrokeColor]="'#3C3C3C'"
        [animation]="true"
        [animationDuration]="600"
  ></circle-progress>  
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [title]="'TEAM WORK'"
        [titleColor]="'#0F0F0F'"
        [showSubtitle]="false"
        [titleFontSize]="'25px'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0F0F0F'"
        [innerStrokeColor]="'#3C3C3C'"
        [animation]="true"
        [animationDuration]="600"
  ></circle-progress>  
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="35"
        [radius]="100"
        [title]="'SPRING BOOT'"
        [titleColor]="'#0F0F0F'"
        [showSubtitle]="false"
        [titleFontSize]="'25px'"
        [showUnits]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#0F0F0F'"
        [innerStrokeColor]="'#3C3C3C'"
        [animation]="true"
        [animationDuration]="600"
  ></circle-progress>  
    </div>
</div>
