<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
  </body>
<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12  col-md-7 col-lg-7 parte1">
            <h3>Portfolio Argentina Programa</h3>
            <h5><p>Este portfolio forma parte del proyecto integrador del curso de Argentina Programa, donde incluye datos de la persona al estilo de un Curriculum Vitae, pero en forma de página web. </p></h5>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/screen portfolio.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
